.card{
    border: 2px solid #004F2F;
    
}
td{
    border-top: 2px solid #004F2F;
}
thead{
    color:#F8FFB9;
    border: 2px solid #004F2F;
    background-color: #408874;
}
.btn{
    margin: 5px;
    padding: 5px;
}
.btn#previous:hover,.btn#after:hover{
    background-color: #408874;
    color:#F8FFB9;
}
.btn#previous:focus,.btn#after:focus{
    border: 2px solid #5C8E71;
    box-shadow: none;
}