<div class="row border bg-dark text-light">
  <h3>Réservations en cours</h3>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Date / heure début</th>
        <th scope="col">Date / heure fin</th>
        <th scope="col">Immatriculation</th>
        <th scope="col">Marque</th>
        <th scope="col">Modèle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservationsCourantes">
        <td scope="row">{{reservation.dateDepart.toDateString()}}<br/>{{reservation.dateDepart.toLocaleTimeString()}}</td>
        <td>{{reservation.dateArrivee.toDateString()}}<br/>{{reservation.dateArrivee.toLocaleTimeString()}}</td>
        <td>{{reservation.immatriculation}}</td>
        <td>{{reservation.marque}}</td>
        <td>{{reservation.modele}}</td>
      </tr>
    </tbody>
  </table>

  <h3>Historique</h3>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Date / heure début</th>
        <th scope="col">Date / heure fin</th>
        <th scope="col">Immatriculation</th>
        <th scope="col">Marque</th>
        <th scope="col">Modèle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservationsHistorique">
        <td scope="row">{{reservation.dateDepart.toDateString()}}<br/>{{reservation.dateDepart.toLocaleTimeString()}}</td>
        <td>{{reservation.dateArrivee.toDateString()}}<br/>{{reservation.dateArrivee.toLocaleTimeString()}}</td>
        <td>{{reservation.immatriculation}}</td>
        <td>{{reservation.marque}}</td>
        <td>{{reservation.modele}}</td>
      </tr>
    </tbody>
  </table>
</div>
