.map-border {
  border: 3px solid #004F2F;
  height: 100%;
}

#map {
  height: 100%;
}

.btn#simulation{
  background-color: #004F2F;
  border: 2px solid #337259;
  color:#F8FFB9;
}
.btn#simulation:hover{
background-color:#337259;
border: 2px solid #004F2F;
box-shadow: none;
}

h1 {
  color: #004F2F;
}
