<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="ml-3 mr-2 p-0">
    <img src="https://cdn.discordapp.com/attachments/705412725098020906/707149807038496778/logo.png" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ng-container *ngIf="collegueConnecte | async as col">
    <ng-container *ngIf="!col.estAnonyme()">

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" routerLink="/collaborateur/reservations">Vos réservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/collaborateur/annonces">Vos annonces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-create">Statistiques</a>
          </li>
          <ng-container *ngIf="col.roles.includes('ROLE_CHAUFFEUR')">
            <li class="nav-item">
              <a class="nav-link" routerLink="/chauffeur/planning">Planning</a>
            </li>
          </ng-container>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Bonjour {{col.nom}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgba(0,0,0,0); border-style: none;">
              <button  class="btn" (click)="seDeconnecter()" style="background-color:#76000C;color:#F8FFB9;">
                <fa-icon [icon]="iconeDisconnected" class="align-middle mr-2" style="font-size: 18px;"></fa-icon>
                <span class="align-middle">Se déconnecter</span>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </ng-container>
  </ng-container>
</nav>


