.needs-validation{

    .ng-invalid.ng-touched , .ng-invalid.ng-dirty{
        border: 3px solid #A80D1D;
    }
}
.input-group-text{
    background-color: #408874;
    color: #F8FFB9;
}
.form-control{
    border: 2px solid #004F2F;
    box-shadow: none;
}
.btn#ajout{
    background-color: #004F2F;
    border: 2px solid #337259;
    color:#F8FFB9;
}
.btn#ajout:hover:enabled{
  background-color:#337259;
  border: 2px solid #004F2F;
  box-shadow: none;
  }
.card-body{
    border: 2px solid #004F2F;
    background-color: #408874;
    color: #F8FFB9;
}
.card-body{
    img{
        width: 18rem;
        border: 3px solid #004F2F;
    }
}
