<h2>Véhicules</h2>

<ng-container>
    <div class="row">
        <div class="card text-center" *ngFor="let Vehicule of vehicules" style="width: 22rem; margin: 10px;">
            <div class="card-body">
                <!--<img class="card-img-top" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRhLy5Ej_s7VB97H80_6Q8xS4V8Kn1z_lUVCQt8wSAaZWjE2TMa&usqp=CAU" alt="Photo véhicule">-->
                <img src="error.png" onerror="this.src='https://cdn.discordapp.com/attachments/705412725098020906/709174770247401563/imgNotLoad.png'" alt="Photo véhicule {{Vehicule.id}}" >
                <p class="card-text">
                    {{Vehicule.immatriculation}}<br/>
                    {{Vehicule.marque}} - {{Vehicule.modele}}<br/>
                    {{Vehicule.categorie}}<br/>
                </p>
            </div>
        </div>
    </div>
</ng-container>