.btn#reparation,.btn#service{
    background-color: #004F2F;
    border: 2px solid #337259;
    color:#F8FFB9;
    box-shadow: none;
}
.btn#reparation:hover:enabled, .btn#service:hover:enabled{
    background-color:#337259;
    border: 2px solid #004F2F;
    box-shadow: none;
}
.btn#hservice{
    border: 2px solid #B93D4A;
    background-color:#A80D1D;
    color:#F8FFB9;
    box-shadow: none;
}
.btn#hservice:hover:enabled{
    border: 2px solid #A80D1D;
    background-color:#B93D4A;
    color:#F8FFB9;
    box-shadow: none;
}
.card{
    border: 2px solid #004F2F;
    
}
td{
    border-top: 2px solid #004F2F;
}
thead{
    color:#F8FFB9;
    border: 2px solid #004F2F;
    background-color: #408874;
}
img{
    padding:0px;
    width: 18rem;
    border: 3px solid #004F2F;
}
p{
    padding: 0px;
    margin: 0px;
}
#tableau{
    margin-top:5px;
}