<div class="row">

  <div class="col-12">
    <form #formVehicule="ngForm">
      <!-- depart -->
      <div class="form-group row d-flex align-items-center">
        <label for="id_dateDepart" class="col-12 col-md-3 col-form-label">Date/heure de réservation *</label>

        <!--datepicker-->
        <div class="input-group col-12 col-md-4">
          <input class="form-control" name="dateDepart" [(ngModel)]="dateTimeDepart.date"
          (ngModelChange)="validerPeriode(dateTimeDepart, dateTimeArivee)"
          ngbDatepicker #dDepartDP="ngbDatepicker" #dDepartMod="ngModel" id="id_dateDepart">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dDepartDP.toggle()" type="button">
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
        </div>

        <!-- timepicker -->
        <div class="col-12 col-md-5">
          <ngb-timepicker [(ngModel)]="dateTimeDepart.time" [hourStep]="hourStep" [minuteStep]="minuteStep"
          (ngModelChange)="validerPeriode(dateTimeDepart, dateTimeArivee)"
            name="timepickerDepart" #timeDepart="ngModel">
          </ngb-timepicker>
        </div>

      </div>

      <!--alert verification date depart-->
      <ng-container *ngIf="(dDepartMod.dirty || dDepartMod.touched) && !dateDepartValide">
        <div class="alert alert-warning" role="alert">Date/heure invalide : veuillez renseigner une date et une heure postérieure à la date du jour.</div>
      </ng-container>

      <!-- arrivee -->
      <div class="form-group row d-flex align-items-center">
        <label for="id_dateArivee" class="col-12 col-md-3 col-form-label">Date/heure retour *</label>

        <!--datepicker-->
        <div class="input-group col-12 col-md-4">
          <input class="form-control" name="dateArivee" [(ngModel)]="dateTimeArivee.date"
          (ngModelChange)="validerPeriode(dateTimeDepart, dateTimeArivee)"
          ngbDatepicker #dAriveeDP="ngbDatepicker" #dAriveeMod="ngModel" id="id_dateArivee">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dAriveeDP.toggle()" type="button">
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
        </div>

        <!-- timepicker -->
        <div class="col-12 col-md-5">
          <ngb-timepicker [(ngModel)]="dateTimeArivee.time" [hourStep]="hourStep" [minuteStep]="minuteStep"
          (ngModelChange)="validerPeriode(dateTimeDepart, dateTimeArivee)"
            name="timepickerRetour" #timeArivee="ngModel">
          </ngb-timepicker>
        </div>

      </div>

       <!--alert verification date arivee-->
       <ng-container *ngIf="(dAriveeMod.dirty || dAriveeMod.touched) && !dateAriveeValide">
        <div class="alert alert-warning" role="alert">Date/heure invalide : veuillez renseigner une date et une heure postérieure à la date de départ.</div>
      </ng-container>

    </form>

    <div class="row d-flex align-items-center">
      <div class="col-6 order-2 col-md-1 order-md-1 text-center">
        <fa-icon class="btn" (click)="prevVehicule()" [icon]="faChevronLeft"></fa-icon>
      </div>
      <div class="col-12 order-1 col-md-10 order-md-2">
        <img class="img-fluid img-thumbnail"
          src={{vehicules[indexVehiculeCourant].photoUrl}}>
      </div>
      <div class="col-6 order-3 col-md-1 order-md-3 text-center">
        <fa-icon class="btn" (click)="nextVehicule()" [icon]="faChevronRight"></fa-icon>
      </div>
    </div>

    <div class="row text-center mt-2">
      <div class="col-md-12">
        {{vehicules[indexVehiculeCourant].immatriculation}}
      </div>
      <div class="col-md-12">
        {{vehicules[indexVehiculeCourant].marque}} - {{vehicules[indexVehiculeCourant].modele}}
      </div>
      <div class="col-md-12">
        {{vehicules[indexVehiculeCourant].categorie}}
      </div>
      <div class="col-md-12">
        <!-- disponibilité -->
        <ng-container *ngIf="!periodeValide">
          <div class="alert alert-warning" role="alert">Veuillez renseigner une période valide pour connaître la disponibilité du véhicule.</div>
        </ng-container>
        <ng-container *ngIf="periodeValide && dispoVehicules.get(vehicules[indexVehiculeCourant].id)">
          <span class="text-success">DISPONIBLE</span>
        </ng-container>
        <ng-container *ngIf="periodeValide && !dispoVehicules.get(vehicules[indexVehiculeCourant].id)">
          <span class="text-danger">NON DISPONIBLE</span>
        </ng-container>
      </div>
      <div class="col-md-12 mt-2">
        <button class="btn btn-primary">Réserver</button>
      </div>
    </div>
  </div>


</div>
