mwl-calendar-day-view {
  width: 100%;
}

div.cal-hour-segment.cal-after-hour-start {
  background-color: #d8d8d8b9 !important;
}

div.cal-current-time-marker{
  background-color: none !important;
  border: none !important;
  color: none !important;
}
