mwl-calendar-day-view {
  width: 100%;
}

div.cal-hour-segment.cal-after-hour-start {
  background-color: #d8d8d8b9 !important;
}

div.cal-current-time-marker{
  background-color: none !important;
  border: none !important;
  color: none !important;
}
.card{
  .btn#accepter{
    background-color: #004F2F!important;
    border: 2px solid #337259!important;
    color:#F8FFB9!important;
  }
  .btn#accepter:hover{
    background-color:#337259!important;
    border: 2px solid #004F2F!important;
  }
}
.btn,.btn:focus{
  margin: 5px;
  padding: 5px;
  background-color: #408874!important;
  color:#F8FFB9!important;
}
.btn#previous,.btn#after{
  background-color:white!important;
  color:#004F2F!important;
}
.btn#previous:hover,.btn#after:hover{
  background-color: #408874!important;
  color:#F8FFB9!important;
}
.btn#previous:focus,.btn#after:focus{
  border: 2px solid #5C8E71!important;
  box-shadow: none!important;
}