<div class="row mt-4">

  <div class="col-12">
    <h1>Planning</h1>
  </div>

  <!-- Switch day -->
  <div class="col-12 text-right">
    <button class="btn" (click)="jourPrecedent()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <span>{{viewDate.toLocaleDateString()}}</span>
    <button class="btn" (click)="jourSuivant()">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </div>

  <!-- Calendar -->
  <mwl-calendar-day-view class="rounded" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    [eventTemplate]="customEventTemplate" [hourSegmentTemplate]="heure" [currentTimeMarkerTemplate]="customCurrentTimeMarker">
  </mwl-calendar-day-view>


</div>

<!-- current time marker-->
<ng-template #customCurrentTimeMarker></ng-template>
<!-- Template Heure -->
<ng-template #heure let-segment="segment" let-locale="locale" let-segmentHeight="segmentHeight">
  <div class="cal-hour-segment" [style.height.px]="segmentHeight" [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart" [ngClass]="segment.cssClass">
    <div class="cal-time text-light">
      {{ step(segment.date.getHours()) }}h{{ step(segment.date.getMinutes())}}
    </div>
  </div>
</ng-template>

<!-- Event Template-->
<ng-template #customEventTemplate let-weekEvent="weekEvent">

  <div class="card border-dark" style="width: 100%;"
    [style.background-color]="weekEvent.event.meta.statut == 'EN_ATTENTE' ? 'white' : '#408874'"
    [style.color]="weekEvent.event.meta.statut == 'EN_ATTENTE' ? 'black' : '#F8FFB9'">

    <h2 class="card-title">{{weekEvent.event.start.toLocaleString()}} - {{weekEvent.event.end.toLocaleString()}}
    </h2>

    <div class="card-body">

      <div class="row">
        <div class="col-4 text-right">
          Responsable :
        </div>
        <div class="col-6">
          {{weekEvent.event.meta.responsable.nom}} {{weekEvent.event.meta.responsable.prenom}}
        </div>
        <div class="col-4 text-right">
          Téléphone :
        </div>
        <div class="col-6">
          {{weekEvent.event.meta.responsable.numTelephone}}
        </div>
        <div class="col-4 text-right">
          Email :
        </div>
        <div class="col-6">
          {{weekEvent.event.meta.responsable.email}}
        </div>
        <div class="col-4 text-right">
          Véhicule :
        </div>
        <div class="col-6 mb-2">
          {{weekEvent.event.meta.vehicule.immatriculation}}
        </div>

      </div>
      <ng-container *ngIf="weekEvent.event.meta.statut === 'EN_ATTENTE'; else elseBlockStatut">

        <button class="btn btn-outline-dark float-right" (click)="updateReservation(weekEvent.event)">Accepter la
          demande</button>

      </ng-container>
      <ng-template #elseBlockStatut>

        <span class="float-right">Reservation Accepté</span>

      </ng-template>
    </div>
  </div>

</ng-template>
