mwl-calendar-day-view {
  width: 100%;
}

mwl-calendar-week-view {
  width: 100%;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

div.cal-hour-segment.cal-after-hour-start {
  background-color: #d8d8d8b9 !important;
}
/*
div.cal-hour-segment.cal-hour-start {
  background-color: #7c8d88 !important;
  border: none !important;
}
*/

div.cal-current-time-marker{
  background-color: none !important;
  border: none !important;
  color: none !important;
}

/*.card{
  border: 2px solid #004F2F;
  background-color: #408874;
  color: #F8FFB9;
}
*/
