<div class=container>
  <h1 class="p-3">Vos reservations</h1>
  <div class="card">
    <div class="card-header p-3">
      Covoiturage
    </div>
    <div>
      <h5 class="p-3">Reservations en cours</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date/heure</th>
            <th scope="col">Départ</th>
            <th scope="col">Destination</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let annonce of listAnnonces">
            <td scope="row">{{annonce.itineraire.dateDepart|date}}</td>
            <td>{{annonce.itineraire.lieuDepart}}</td>
            <td>{{annonce.itineraire.lieuDestination}}</td>
            <td><button type="button" class="btn btn-info">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h5>Historique</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date/heure</th>
            <th scope="col">Départ</th>
            <th scope="col">Destination</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let annonce of listAnnonces">
            <th scope="row">un depart {{annonce.dateDepart}}</th>
            <td>un lieu de depart{{annonce.lieuDepart}}</td>
            <td>destination {{annonce.lieuDestination}}</td>
            <td><button type="button" class="btn btn-info">Detail</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
