<div class=container>
  <div class="card">
    <div class="card-header p-3">
      {{covoitExemple|json}}
    </div>
    <div>
      <h5 class="p-3">Reservations en cours</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date/heure</th>
            <th scope="col">Départ</th>
            <th scope="col">Destination</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let annonce of listAnnoncesEncours" >
            <td scope="row">{{annonce.dateDepart.toDateString()}}<br />{{annonce.dateDepart.toLocaleTimeString()}}</td>
            <td>{{annonce.lieuDepart}}</td>
            <td>{{annonce.lieuDestination}}</td>
            <td><button type="button" class="btn btn-info" (click)="open(annonce)">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h5 class="p-3">Historique</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date/heure</th>
            <th scope="col">Départ</th>
            <th scope="col">Destination</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let annonce of listAnnoncesHistorique">
            <td scope="row">{{annonce.dateDepart.toDateString()}}<br />{{annonce.dateDepart.toLocaleTimeString()}}</td>
            <td>{{annonce.lieuDepart}}</td>
            <td>{{annonce.lieuDestination}}</td>
            <td><button type="button" class="btn btn-info" (click)="open(annonce)">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
