<div class="modal-header">Réservation d'un covoiturage
</div>
<div class="modal-body">
  <table class="table">
    <tr>
      <th>Départ :</th>
      <td>{{annonce.lieuDepart}}</td>
    </tr>
    <tr>
      <th>Destination :</th>
      <td>{{annonce.lieuDestination}}</td>
    </tr>
    <tr>
      <th>Date/heure :</th>
      <td>{{annonce.dateDepart.toDateString()}}<br />{{annonce.dateDepart.toLocaleTimeString()}}</td>
    </tr>
    <tr>
      <th>Vehicule</th>
      <td>{{annonce.vehiculeMarque|uppercase}}, {{annonce.vehiculeModel|lowercase}}</td>
    </tr>
    <tr>
      <th>Chauffeur</th>
      <td>{{annonce.chauffeurNom|uppercase}} {{annonce.chauffeurPrenom|lowercase}}</td>
    </tr>
  </table>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Annuler</button>
  <button type="button" class="btn btn-outline-dark" (click)="putReservation(annonce);activeModal.dismiss()">Confirmer </button>
</div>
